html {
  margin: 0;
  padding: 0;
  font-family: 'Butler';
  color: #232221;
  font-size: 1em;
  font-weight: 400;
  color: #f8f4f1;
  background-color: #62626f; }

body {
  width: calc(100% - 20px);
  margin: auto auto auto 0;
  background-color: #35333a; }

.html-border {
  position: fixed;
  width: 100%;
  background-color: #62626f;
  top: 0;
  left: 0;
  z-index: 100;
  height: 20px; }

.loading {
  width: 100%;
  height: 20px;
  background-color: #706677;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 101;
  opacity: .2;
  -webkit-transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -moz-transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -ms-transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -o-transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  transform-origin: 0 50%;
  transform: scaleX(0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*::-webkit-scrollbar {
  display: none;
}*/
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.photoBR {
  display: none; }

/* --------------------
--------- FONTS -------
-------------------- */
@font-face {
  font-family: 'Butler';
  src: url("../../assets/fonts/Butler/butler_ultra_light-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/butler_ultra_light-webfont.woff") format("woff"), url("../../assets/fonts/Butler/butler_ultra_light-webfont.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: 'Butler';
  src: url("../../assets/fonts/Butler/butler_light-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/butler_light-webfont.woff") format("woff"), url("../../assets/fonts/Butler/butler_light-webfont.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Butler';
  src: url("../../assets/fonts/Butler/butler_regular-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/butler_regular-webfont.woff") format("woff"), url("../../assets/fonts/Butler/butler_regular-webfont.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Butler';
  src: url("../../assets/fonts/Butler/butler_medium-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/butler_medium-webfont.woff") format("woff"), url("../../assets/fonts/Butler/butler_medium-webfont.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Butler';
  src: url("../../assets/fonts/Butler/butler_bold-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/butler_bold-webfont.woff") format("woff"), url("../../assets/fonts/Butler/butler_bold-webfont.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'Butler';
  src: url("../../assets/fonts/Butler/butler_black-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/butler_black-webfont.woff") format("woff"), url("../../assets/fonts/Butler/butler_black-webfont.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'ButlerStencil';
  src: url("../../assets/fonts/Butler/stencil/butler_ultra_light_stencil-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/stencil/butler_ultra_light_stencil-webfont.woff") format("woff");
  /*url('../../fonts/Butler/stencil/butler_ultra_light_stencil-webfont.ttf') format('truetype');*/
  font-weight: 200; }
@font-face {
  font-family: 'ButlerStencil';
  src: url("../../assets/fonts/Butler/stencil/butler_light_stencil-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/stencil/butler_light_stencil-webfont.woff") format("woff");
  /*url('../../fonts/Butler/stencil/butler_light_stencil-webfont.ttf') format('truetype');*/
  font-weight: 300; }
@font-face {
  font-family: 'ButlerStencil';
  src: url("../../assets/fonts/Butler/stencil/butler_regular_stencil-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/stencil/butler_regular_stencil-webfont.woff") format("woff");
  /*url('../../fonts/Butler/stencil/butler_regular_stencil-webfont.ttf') format('truetype');*/
  font-weight: 400; }
@font-face {
  font-family: 'ButlerStencil';
  src: url("../../assets/fonts/Butler/stencil/butler_medium_stencil-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/stencil/butler_medium_stencil-webfont.woff") format("woff");
  /*url('../../fonts/Butler/stencil/butler_medium_stencil-webfont.ttf') format('truetype');*/
  font-weight: 500; }
@font-face {
  font-family: 'ButlerStencil';
  src: url("../../assets/fonts/Butler/stencil/butler_bold_stencil-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/stencil/butler_bold_stencil-webfont.woff") format("woff");
  /*url('../../fonts/Butler/stencil/butler_bold_stencil-webfont.ttf') format('truetype');*/
  font-weight: 600; }
@font-face {
  font-family: 'ButlerStencil';
  src: url("../../assets/fonts/Butler/stencil/butler_black_stencil-webfont.woff2") format("woff2"), url("../../assets/fonts/Butler/stencil/butler_black_stencil-webfont.woff") format("woff");
  /*url('../../fonts/Butler/stencil/butler_black_stencil-webfont.ttf') format('truetype');*/
  font-weight: 700; }
header {
  padding-top: 30px;
  width: 20%;
  display: inline-block;
  height: 100vh;
  background-color: #62626f;
  box-shadow: inset -3px 0px 65px rgba(0, 0, 0, 0.23);
  position: fixed; }
  header .title {
    width: 100%;
    text-align: center; }
    header .title h1 {
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 2px; }
  header .frontend {
    text-align: center;
    display: block;
    width: 100%;
    text-align: right; }
    header .frontend a {
      text-decoration: none;
      color: inherit;
      letter-spacing: 1.5px;
      width: 25%;
      text-align: center;
      margin-right: 25px;
      font-weight: bold;
      text-transform: uppercase;
      font-weight: 500;
      color: #18e1e3; }
  header .nav {
    margin-top: 4em;
    width: 100%; }
    header .nav__list {
      padding: 0;
      margin: 0;
      list-style: none; }
      header .nav__list__item {
        text-align: center;
        font-size: 1.2em;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        header .nav__list__item.active {
          background-color: #2c2c32; }
        header .nav__list__item a {
          padding: 2em 1em;
          display: block;
          text-decoration: none;
          color: inherit;
          font-weight: 200;
          letter-spacing: 1px;
          text-transform: uppercase; }
        header .nav__list__item:hover {
          background-color: #3e3e46; }

main.backend {
  width: 80%;
  display: inline-block;
  float: right;
  min-height: 100vh;
  background-color: #35333a; }
  main.backend .content {
    min-height: 100vh;
    width: 100%; }
    main.backend .content__title {
      padding-top: 5vh;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 3em; }
    main.backend .content__dash {
      min-height: 100vh;
      width: 100%; }
      main.backend .content__dash .upload-prev {
        width: 100%;
        display: flex;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
        main.backend .content__dash .upload-prev img {
          display: block; }
    main.backend .content .form {
      width: 100%;
      padding-top: 15vh; }
      main.backend .content .form .btn {
        width: 115px;
        height: 35px;
        line-height: 31px;
        border: 2px solid #f9f4f4;
        background-color: transparent;
        color: #f9f4f4;
        font-family: 'Butler';
        font-size: .9em;
        padding: 0;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .7px; }
      main.backend .content .form__group {
        width: 50%;
        margin: 0 auto;
        text-align: center; }
        main.backend .content .form__group:nth-child(2) {
          margin-top: 3em; }
        main.backend .content .form__group.category {
          margin-bottom: 2em; }
    main.backend .content__catalog {
      padding-top: 10vh; }
      main.backend .content__catalog__cnt {
        flex-basis: 33.333%;
        margin-bottom: 4em; }
      main.backend .content__catalog.form {
        display: flex;
        flex-flow: row wrap;
        width: 100%; }
        main.backend .content__catalog.form .form {
          padding-top: 0; }
          main.backend .content__catalog.form .form__group {
            width: 100%; }
            main.backend .content__catalog.form .form__group:nth-child(2) {
              margin-top: 0; }
            main.backend .content__catalog.form .form__group.image {
              width: 100%;
              position: relative; }
              main.backend .content__catalog.form .form__group.image .remove-img {
                width: 85%;
                height: auto;
                display: inline-block;
                position: absolute;
                left: 7.5%;
                top: 0;
                background-color: rgba(249, 244, 244, 0.35); }
              main.backend .content__catalog.form .form__group.image img {
                width: 85%;
                box-shadow: 3px 2px 35px rgba(0, 0, 0, 0.35);
                transition: border .25s ease-out; }
            main.backend .content__catalog.form .form__group.category {
              margin-top: .5em;
              margin-bottom: 0;
              padding-bottom: .5em;
              width: 100%;
              display: inline-block;
              float: left; }
              main.backend .content__catalog.form .form__group.category .form__group__cnt {
                width: 50%;
                display: inline-block;
                height: 35px;
                line-height: 35px; }
                main.backend .content__catalog.form .form__group.category .form__group__cnt input {
                  position: absolute;
                  opacity: 0;
                  visibility: hidden; }
                  main.backend .content__catalog.form .form__group.category .form__group__cnt input:checked ~ label {
                    border-bottom: 2px solid rgba(249, 244, 244, 0.85);
                    color: #f9f4f4; }
                main.backend .content__catalog.form .form__group.category .form__group__cnt label {
                  cursor: pointer;
                  display: inline-block;
                  letter-spacing: .5px;
                  font-weight: 200;
                  transition: color .25s ease-out, border .25s ease-out;
                  color: rgba(249, 244, 244, 0.55); }
                  main.backend .content__catalog.form .form__group.category .form__group__cnt label:hover {
                    color: #f9f4f4; }
                main.backend .content__catalog.form .form__group.category .form__group__cnt:first-child {
                  float: left; }
            main.backend .content__catalog.form .form__group.status {
              width: 100%;
              display: inline-block;
              padding-top: .5em;
              margin-bottom: 1.2em;
              height: 35px;
              line-height: 35px;
              position: relative;
              /*&:before {
                content: '';
                display: block;
                position: absolute;
                width: 75%;
                height: 1px;
                background-color: rgba($acc_bright, .25);
                left: 50%;
                transform: translateX(-50%);
                top: 0;
              }*/ }
              main.backend .content__catalog.form .form__group.status select {
                width: 80%;
                text-align: center;
                background-color: transparent;
                border: none;
                padding: 0;
                color: white;
                text-transform: uppercase;
                font-family: 'Butler';
                letter-spacing: .5px;
                font-size: 1em;
                border-bottom: 2px solid #f9f4f4;
                transition: border .25s ease-out; }
                main.backend .content__catalog.form .form__group.status select:focus {
                  outline: none; }
                main.backend .content__catalog.form .form__group.status select.pending {
                  border-bottom: 2px solid #eb86ae; }
                main.backend .content__catalog.form .form__group.status select.live {
                  border-bottom: 2px solid #18e1e3; }
            main.backend .content__catalog.form .form__group.keywords, main.backend .content__catalog.form .form__group.album {
              width: 100%;
              margin-top: 1em;
              position: relative;
              /*& input {
                position: absolute;
                visibility: hidden;
                opacity: 0;

                &::placeholder {
                  opacity: 0;
                }



                &:focus {
                  outline: none;
                  border-bottom: 2px solid rgba($acc_bright, .75);
                }
                &:focus ~ .focus-line:before {
                  transform: scaleY(1);
                }

                &:not(:placeholder-shown) {
                  border-bottom: 2px solid rgba($acc_bright, .75);
                }
                &:not(:placeholder-shown) ~ .focus-line:before {
                  transform: scaleY(1);
                }
              }*/ }
              main.backend .content__catalog.form .form__group.keywords .keyword-cnt, main.backend .content__catalog.form .form__group.keywords .album-cnt, main.backend .content__catalog.form .form__group.album .keyword-cnt, main.backend .content__catalog.form .form__group.album .album-cnt {
                width: 80%;
                padding: 0;
                margin: 0;
                list-style: none;
                margin: 0 auto; }
                main.backend .content__catalog.form .form__group.keywords .keyword-cnt li, main.backend .content__catalog.form .form__group.keywords .album-cnt li, main.backend .content__catalog.form .form__group.album .keyword-cnt li, main.backend .content__catalog.form .form__group.album .album-cnt li {
                  background-color: transparent;
                  border: none;
                  border-bottom: 2px solid #565264;
                  color: #f9f4f4;
                  font-family: 'Butler';
                  font-size: .95em;
                  letter-spacing: .5px;
                  transition: border .25s ease-out;
                  position: relative;
                  z-index: 3;
                  padding-left: 8px;
                  text-align: left;
                  width: 100%;
                  font-weight: 200;
                  height: 25px;
                  line-height: 27px;
                  margin-top: .25em; }
                  main.backend .content__catalog.form .form__group.keywords .keyword-cnt li:focus, main.backend .content__catalog.form .form__group.keywords .album-cnt li:focus, main.backend .content__catalog.form .form__group.album .keyword-cnt li:focus, main.backend .content__catalog.form .form__group.album .album-cnt li:focus {
                    outline: none;
                    border-bottom: 2px solid rgba(249, 244, 244, 0.75); }
                  main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove {
                    display: inline-block;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    right: 0;
                    cursor: pointer; }
                    main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove:before, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove:before, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove:before, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove:after {
                      content: '';
                      display: block;
                      position: absolute;
                      left: 50%;
                      transform: translateX(-50%) rotate(45deg);
                      top: 0;
                      height: 25px;
                      width: 1px;
                      background-color: #888399;
                      -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
                      -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
                      -ms-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
                      -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
                      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; }
                    main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove:after {
                      transform: translateX(-50%) rotate(-45deg); }
                    main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove:hover:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove:hover:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove:hover:before, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove:hover:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove:hover:before, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove:hover:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove:hover:before, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove:hover:after {
                      background-color: #f9f4f4;
                      transform: translateX(-50%) rotate(65deg); }
                    main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .remove:hover:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .remove:hover:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .remove:hover:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .remove:hover:after {
                      background-color: #f9f4f4;
                      transform: translateX(-50%) rotate(-65deg); }
                  main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.edit, main.backend .content__catalog.form .form__group.keywords .album-cnt li.edit, main.backend .content__catalog.form .form__group.album .keyword-cnt li.edit, main.backend .content__catalog.form .form__group.album .album-cnt li.edit {
                    color: rgba(249, 244, 244, 0.25); }
                main.backend .content__catalog.form .form__group.keywords .keyword-cnt ~ .focus-line, main.backend .content__catalog.form .form__group.keywords .album-cnt ~ .focus-line, main.backend .content__catalog.form .form__group.album .keyword-cnt ~ .focus-line, main.backend .content__catalog.form .form__group.album .album-cnt ~ .focus-line {
                  position: absolute;
                  left: 10%;
                  bottom: 0;
                  display: inline-block;
                  width: 80%;
                  height: 35px;
                  z-index: 0; }
                  main.backend .content__catalog.form .form__group.keywords .keyword-cnt ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .form__group.keywords .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .form__group.keywords .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .form__group.keywords .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .form__group.keywords .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .form__group.album .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .form__group.album .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .keyword-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .form__group.album .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .form__group.album .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .album-cnt ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .album-cnt ~ .focus-line.remove:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 16px;
                    width: 2px;
                    height: 20%;
                    background-color: rgba(249, 244, 244, 0.75);
                    transform: scaleY(0);
                    transition: transform .25s ease-out; }
                main.backend .content__catalog.form .form__group.keywords .keyword-cnt:focus, main.backend .content__catalog.form .form__group.keywords .album-cnt:focus, main.backend .content__catalog.form .form__group.album .keyword-cnt:focus, main.backend .content__catalog.form .form__group.album .album-cnt:focus {
                  outline: none;
                  border-bottom: 2px solid rgba(249, 244, 244, 0.75); }
                main.backend .content__catalog.form .form__group.keywords .keyword-cnt:focus ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .form__group.keywords .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .form__group.keywords .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt:focus ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .form__group.keywords .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .form__group.keywords .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt:focus ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .form__group.album .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .form__group.album .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .keyword-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt:focus ~ .focus-line:before, main.backend .content__catalog.form .form__group.keywords .keyword-cnt li.set .form__group.album .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.keywords .album-cnt li.set .form__group.album .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .keyword-cnt li.set .album-cnt:focus ~ .focus-line.remove:after, main.backend .content__catalog.form .form__group.album .album-cnt li.set .album-cnt:focus ~ .focus-line.remove:after {
                  transform: scaleY(1); }
            main.backend .content__catalog.form .form__group.album {
              margin-bottom: 1.5em; }
              main.backend .content__catalog.form .form__group.album .album-cnt li.edit {
                color: #f9f4f4; }

.style-pre {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 1em;
  border-bottom: 1px solid rgba(24, 225, 227, 0.35); }
  .style-pre:nth-child(1) {
    padding-top: 5em; }
  .style-pre:last-of-type {
    margin-bottom: 2em; }

/*# sourceMappingURL=main.css.map */
