RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^(.*)$ xschoenberger/index.php?page=$1
RewriteRule ^(.*)/^(.*)$ xschoenberger/index.php?page=$1&categ=$2