@mixin linkreset{
  text-decoration: none;
  color: inherit;
}

@mixin listreset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin font ($font-family, $size: 1em, $color: $text) {
  font-family: 'Butler';
  color: $color;
  font-size: $size;
}

@mixin transition ($type: all, $dur: .25s, $easing: ease, $delay: 0s) {
  -webkit-transition: $type $dur $easing $delay;
  -moz-transition: $type $dur $easing $delay;
  -ms-transition: $type $dur $easing $delay;
  -o-transition: $type $dur $easing $delay;
  transition: $type $dur $easing $delay;
}

@mixin centerAbsolute ($X: 0%, $Y: 0%) {
  -webkit-transform: translate($X, $Y);
  -moz-transform: translate($X, $Y);
  -ms-transform: translate($X, $Y);
  -o-transform: translate($X, $Y);
  transform: translate($X, $Y);
}

