$cnt_padding: 0 20%;

$acc_bright: #f9f4f4;
$acc_bright_2: #f1679b;
$acc_bright_2_soft: #eb86ae;
$text: #232221;

$pastel_blue: #AAABD3;
$pastel_pink: #CBA6C3;

$pastel_dark: #565264;
$pastel_dark_1: #35333a;
$pastel_dark_2: #706677;
$pastel_darkpink: #A6808C;
$pastel_beige:#CCB7AE;
$pastel_concrete: #D6CFCB;
$pastel_text: #f8f4f1;
$pastel_light: #D6CFCB;
$pastel_bg: #232228;
$pastel_darktxt: #26262B;

$bright_acc: #ff00a2;
$bright_acc_2: #18e1e3;
