@import "mixin";
@import "vars";

// --------------- RESET --------------- //

html {
  margin: 0;
  padding: 0;
  @include font(1em);
  font-weight: 400;
  color: $pastel_text;
  background-color: lighten($pastel_darktxt, 25%);
}

body {
  width: calc(100% - 20px);
  margin: auto auto auto 0;
  background-color: $pastel_dark_1;

}

.html-border {
  position: fixed;
  width: 100%;
  background-color: lighten($pastel_darktxt, 25%);
  top: 0;
  left: 0;
  z-index: 100;
  height: 20px;
}

.loading {
  width: 100%;
  height: 20px;
  background-color: $pastel_dark_2;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 101;
  opacity: .2;
  @include transition(all, 1.6s, cubic-bezier(0.86, 0, 0.07, 1));
  transform-origin: 0 50%;
  transform: scaleX(0);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/*::-webkit-scrollbar {
  display: none;
}*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.photoBR {
  display: none;
}

/* --------------------
--------- FONTS -------
-------------------- */

/////////////////// Butler
@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler/butler_ultra_light-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/butler_ultra_light-webfont.woff') format('woff'),
  url('../../assets/fonts/Butler/butler_ultra_light-webfont.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler/butler_light-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/butler_light-webfont.woff') format('woff'),
  url('../../assets/fonts/Butler/butler_light-webfont.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler/butler_regular-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/butler_regular-webfont.woff') format('woff'),
  url('../../assets/fonts/Butler/butler_regular-webfont.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler/butler_medium-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/butler_medium-webfont.woff') format('woff'),
  url('../../assets/fonts/Butler/butler_medium-webfont.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler/butler_bold-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/butler_bold-webfont.woff') format('woff'),
  url('../../assets/fonts/Butler/butler_bold-webfont.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Butler';
  src: url('../../assets/fonts/Butler/butler_black-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/butler_black-webfont.woff') format('woff'),
  url('../../assets/fonts/Butler/butler_black-webfont.ttf') format('truetype');
  font-weight: 700;
}

//// BUTLLER STENCIL

@font-face {
  font-family: 'ButlerStencil';
  src: url('../../assets/fonts/Butler/stencil/butler_ultra_light_stencil-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/stencil/butler_ultra_light_stencil-webfont.woff') format('woff');
  /*url('../../fonts/Butler/stencil/butler_ultra_light_stencil-webfont.ttf') format('truetype');*/
  font-weight: 200;
}

@font-face {
  font-family: 'ButlerStencil';
  src: url('../../assets/fonts/Butler/stencil/butler_light_stencil-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/stencil/butler_light_stencil-webfont.woff') format('woff');
  /*url('../../fonts/Butler/stencil/butler_light_stencil-webfont.ttf') format('truetype');*/
  font-weight: 300;
}

@font-face {
  font-family: 'ButlerStencil';
  src: url('../../assets/fonts/Butler/stencil/butler_regular_stencil-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/stencil/butler_regular_stencil-webfont.woff') format('woff');
  /*url('../../fonts/Butler/stencil/butler_regular_stencil-webfont.ttf') format('truetype');*/
  font-weight: 400;
}

@font-face {
  font-family: 'ButlerStencil';
  src: url('../../assets/fonts/Butler/stencil/butler_medium_stencil-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/stencil/butler_medium_stencil-webfont.woff') format('woff');
  /*url('../../fonts/Butler/stencil/butler_medium_stencil-webfont.ttf') format('truetype');*/
  font-weight: 500;
}

@font-face {
  font-family: 'ButlerStencil';
  src: url('../../assets/fonts/Butler/stencil/butler_bold_stencil-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/stencil/butler_bold_stencil-webfont.woff') format('woff');
  /*url('../../fonts/Butler/stencil/butler_bold_stencil-webfont.ttf') format('truetype');*/
  font-weight: 600;
}

@font-face {
  font-family: 'ButlerStencil';
  src: url('../../assets/fonts/Butler/stencil/butler_black_stencil-webfont.woff2') format('woff2'),
  url('../../assets/fonts/Butler/stencil/butler_black_stencil-webfont.woff') format('woff');
  /*url('../../fonts/Butler/stencil/butler_black_stencil-webfont.ttf') format('truetype');*/
  font-weight: 700;
}

// ________ HEADER ________ //

header {
  padding-top: 30px;
  width: 20%;
  display: inline-block;
  height: 100vh;
  background-color: lighten($pastel_darktxt, 25%);
  box-shadow: inset -3px 0px 65px rgba(0, 0, 0, 0.23);
  position: fixed;

  & .title {
    width: 100%;
    text-align: center;

    & h1 {
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 2px;

    }
  }
  & .frontend {
    text-align: center;
    display: block;
    width: 100%;
    text-align: right;

    & a {
      @include linkreset;
      letter-spacing: 1.5px;
      width: 25%;
      text-align: center;
      margin-right: 25px;
      font-weight: bold;
      text-transform: uppercase;
      font-weight: 500;
      color: $bright_acc_2;
    }
  }
  & .nav {
    margin-top: 4em;
    width: 100%;

    &__list {
      @include listreset;

      &__item {
        text-align: center;
        font-size: 1.2em;
        @include transition(all, .3s, ease);

        &.active {
          background-color: lighten($pastel_darktxt, 2.5%);
        }

        & a {
          padding: 2em 1em;
          display: block;
          @include linkreset;
          font-weight: 200;
          letter-spacing: 1px;
          text-transform: uppercase;

        }
        &:hover {
          background-color: lighten($pastel_darktxt, 10%);
        }
      }
    }
  }
}

main.backend {
  width: 80%;
  display: inline-block;
  float: right;
  min-height: 100vh;
  background-color: $pastel_dark_1;

  & .content {
    min-height: 100vh;
    width: 100%;

    &__title {
      padding-top: 5vh;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 3em;
    }

    &__dash {
      min-height: 100vh;
      width: 100%;

      & .upload-prev {
        width: 100%;
        display: flex;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        & img {
          display: block;
        }
      }
    }

    & .form {
      width: 100%;
      padding-top: 15vh;

      & .btn {
        width: 115px;
        height: 35px;
        line-height: 31px;
        border: 2px solid $acc_bright;
        background-color: transparent;
        color: $acc_bright;
        font-family: 'Butler';
        font-size: .9em;
        padding: 0;
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .7px;

      }

      &__group {
        width: 50%;
        margin: 0 auto;
        text-align: center;

        &:nth-child(2) {
          margin-top: 3em;
        }

        &.category {
          margin-bottom: 2em;
        }
      }
    }

    &__catalog {
      padding-top: 10vh;

      &__cnt {
        flex-basis: 33.333%;
        margin-bottom: 4em;
      }

      &.form {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        & .form {
          padding-top: 0;

          &__group {
            width: 100%;

            &:nth-child(2) {
              margin-top: 0;
            }

            &.image {
              width: 100%;
              position: relative;

              & .remove-img {
                width: 85%;
                height: auto;
                display: inline-block;
                position: absolute;
                left: 7.5%;
                top: 0;
                background-color: rgba($acc_bright, .35);
              }

              & img {
                width: 85%;
                box-shadow: 3px 2px 35px rgba(black, .35);
                transition: border .25s ease-out;
              }
            }

            &.category {
              margin-top: .5em;
              margin-bottom: 0;
              padding-bottom: .5em;
              width: 100%;
              display: inline-block;
              float: left;

              & .form__group__cnt {
                width: 50%;
                display: inline-block;
                height: 35px;
                line-height: 35px;

                & input {
                  position: absolute;
                  opacity: 0;
                  visibility: hidden;

                  &:checked ~ label {
                    border-bottom: 2px solid rgba($acc_bright, .85);
                    color: $acc_bright;
                  }

                }

                & label {
                  cursor: pointer;
                  display: inline-block;
                  letter-spacing: .5px;
                  font-weight: 200;
                  transition: color .25s ease-out, border .25s ease-out;
                  color: rgba($acc_bright, .55);

                  &:hover {
                    color: $acc_bright;
                  }
                }

                &:first-child {
                  float: left;
                }
              }
            }
            &.status {
              width: 100%;
              display: inline-block;
              padding-top: .5em;
              margin-bottom: 1.2em;
              height: 35px;
              line-height: 35px;
              position: relative;

              /*&:before {
                content: '';
                display: block;
                position: absolute;
                width: 75%;
                height: 1px;
                background-color: rgba($acc_bright, .25);
                left: 50%;
                transform: translateX(-50%);
                top: 0;
              }*/

              & select {
                width: 80%;
                text-align: center;
                background-color: transparent;
                border: none;
                padding: 0;
                color: white;
                text-transform: uppercase;
                font-family: 'Butler';
                letter-spacing: .5px;
                font-size: 1em;
                border-bottom: 2px solid $acc_bright;
                transition: border .25s ease-out;

                &:focus {
                  outline: none;
                }

                &.pending {
                  border-bottom: 2px solid $acc_bright_2_soft;
                }
                &.live {
                  border-bottom: 2px solid $bright_acc_2;
                }
              }
            }

            &.keywords, &.album {
              width: 100%;
              margin-top: 1em;
              position: relative;

              & .keyword-cnt, & .album-cnt {
                width: 80%;
                @include listreset;
                margin: 0 auto;

                & li {
                  background-color: transparent;
                  border: none;
                  border-bottom: 2px solid $pastel_dark;
                  color: $acc_bright;
                  font-family: 'Butler';
                  font-size: .95em;
                  letter-spacing: .5px;
                  transition: border .25s ease-out;
                  position: relative;
                  z-index: 3;
                  padding-left: 8px;
                  text-align: left;
                  width: 100%;
                  font-weight: 200;
                  height: 25px;
                  line-height: 27px;
                  margin-top: .25em;

                  &:focus {
                    outline: none;
                    border-bottom: 2px solid rgba($acc_bright, .75);
                  }

                  &.set {

                    & .remove {
                      display: inline-block;
                      position: absolute;
                      width: 25px;
                      height: 25px;
                      right: 0;
                      cursor: pointer;

                      &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg);
                        top: 0;
                        height: 25px;
                        width: 1px;
                        background-color: lighten($pastel_dark, 20%);
                        @include transition(all, .4s, cubic-bezier(0.175, 0.885, 0.32, 1.275));
                      }
                      &:after {
                        @extend :before;
                        transform: translateX(-50%) rotate(-45deg);
                      }

                      &:hover:before {
                        background-color: $acc_bright;
                        transform: translateX(-50%) rotate(65deg);
                      }
                      &:hover:after {
                        background-color: $acc_bright;
                        transform: translateX(-50%) rotate(-65deg);
                      }
                    }
                  }

                  &.edit {
                    color: rgba($acc_bright, .25);
                  }
                }

                & ~ .focus-line {
                  position: absolute;
                  left: 10%;
                  bottom: 0;
                  display: inline-block;
                  width: 80%;
                  height: 35px;
                  z-index: 0;

                  &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 16px;
                    width: 2px;
                    height: 20%;
                    background-color: rgba($acc_bright, .75);
                    transform: scaleY(0);
                    transition: transform .25s ease-out;
                  }
                }

                &:focus {
                  outline: none;
                  border-bottom: 2px solid rgba($acc_bright, .75);
                }
                &:focus ~ .focus-line:before {
                  transform: scaleY(1);
                }

                & li.set {

                }

              }

              /*& input {
                position: absolute;
                visibility: hidden;
                opacity: 0;

                &::placeholder {
                  opacity: 0;
                }



                &:focus {
                  outline: none;
                  border-bottom: 2px solid rgba($acc_bright, .75);
                }
                &:focus ~ .focus-line:before {
                  transform: scaleY(1);
                }

                &:not(:placeholder-shown) {
                  border-bottom: 2px solid rgba($acc_bright, .75);
                }
                &:not(:placeholder-shown) ~ .focus-line:before {
                  transform: scaleY(1);
                }
              }*/
            }
            &.album {
              margin-bottom: 1.5em;

              & .album-cnt li.edit {
                color: $acc_bright;

              }
            }

          }
        }

      }
    }
  }

}

.style-pre {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 1em;
  border-bottom: 1px solid rgba($bright_acc_2, .35);

  &:nth-child(1) {
    padding-top: 5em;
  }
  &:last-of-type {
    margin-bottom: 2em;

  }
}